html{
    overflow-y: scroll;
}

body{
    overflow: hidden;
	background-color: #222;
	height: 100%;
	min-width: 320px;
    margin: 0;
}
body a, html a{
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-weight: 700;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body::before{
    width: 100%;
    height: 100%;
    display: block;
}

#page-container{
    overflow: hidden;
}

#page-background{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
	background-color: #222;
}

#page{
    width: 100%;
}

#menu-background{
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#menubar-container{
    opacity: 1;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 100;
    min-width: 292px;
}

#menubar-title{
    width: 30%;
    height: 100%;
    font-size: 35px;
    text-align: center;
    color: white;
    float: right;
    font-family: 'Abel',sans-serif;
    min-width: 250px;
}

.menu-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.showcase-wrapper{
    background-color: white;
    z-index: -1;
    display: flex;
    overflow: hidden;
    max-height: 545px;
    align-items: center;
}

.showcase-video{
    width: 100%;
    aspect-ratio: 16/9;
}

.about-me-section{
    height: 360px;
    background-image: linear-gradient(180deg, #620b1b, #1e0006);
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: center;
    justify-items: center;
    padding: 0 20% 0 10%;
}
.about-me-picture{
    width: 50%;
}
.about-me-text{
    font-size: 18px;
}
.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(26 26 26 / 60%);
}

.project-holder{
    position: relative;
    width: 100%;
    height: 500px;
    display: block;

    margin-top: 50px;
    margin-bottom: 50px;
}

.project-container{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.project-contents{
    margin-left: 0;
    margin-right: 0;
    height: 1000px;
}

#row{
    display: flex;
    min-height: 380px;
    grid-gap: 25px;
    justify-content: center;
}

.card-holder{
    min-width: 200px;
    width: 25%;
    max-width: 250px;
    padding: 15px;
    background-color: white;
    border-radius: 10px !important;
    grid-gap: 15px;
}

.group-projects{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #1d1919;
}

.title{
    font-family: 'Quicksand',sans-serif;
    font-weight: 300;
    color: white;
}

.title-small{
    font-size: 20px;
}

.title-medium{
    font-size: 30px;
}
.title-mid-large{
    font-size: 40px
}

.title-large{
    font-size: 60px;
}

.text{
    font-size: 15px;
}

.middle-align{
    text-align: center;
}

.card-picture-holder{
    display: flex;
    border-radius: 10%;
    background-color: #000000;
    overflow: hidden;
}
.card-video{
    width: 100%;
}

.underline-link{
    position: relative;
    display: inline-block;
}

.underline-link::after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgb(228, 228, 228);
    content: '';
    opacity: 0;
    -webkit-transition: height .3s, opacity .3s, -webkit-transform .3s; 
    transition: height .3s, opacity .3s, -webkit-transform .3s; 
    transition: height .3s, opacity .3s, transform .3s; 
    transition: height .3s, opacity .3s, transform .3s, -webkit-transform .3s; 
    -webkit-transform: translateY(-5px); 
    transform: translateY(-5px);
}

.underline-link:hover:after {
    height: 2px;
    border-radius: 3px;
    opacity: 1;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.underline, .underline-title{
    position: relative;
    display: inline-block;
}

.underline::after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgb(228, 228, 228);
    content: '';
    transform: translateY(-2px);
}

.underline-title::after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(228, 228, 228);
    content: '';
    transform: translateY(-2px);
}

.skills-section{
    height: 360px;
    background-image: linear-gradient(180deg, #1e0006, #000000);
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 500px 1fr;
    /* align-items: start; */
    padding: 0 20% 0 10%;
    /* justify-items: center; */
}

.skills-container{
    display: grid;
    grid-template-columns: 150px 250px 150px;
    grid-template-rows: 25px;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
    /* text-align: center; */
    align-items: center;
    text-align: left;
}

.skills-data{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    text-align: left;
}