html{
    overflow-y: scroll;
}

body{
    overflow: hidden;
	background-color: #222;
	height: 100%;
	min-width: 320px;
    margin: 0;
}
body a, html a{
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-weight: 700;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a[data-tool-tip]{
    position: relative;
}

a[data-tool-tip]::before{
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    background-color: #1d1919;
    padding: 1em 2em;
    color: white;
    border-radius: 12px;
    font-size: 0.75em;
    top: 50%;
    left: 0;
    white-space: nowrap;
    transform: scaleX(0) translateX(-100%) translateY(-50%);
    transition: transform ease-out 250ms, top ease-out 250ms;
    text-align: center;
    transform-origin: left;
}
a[data-tool-tip]:hover::before{
    top: 50%;
    transform: scaleX(1) translateX(-105%) translateY(-50%);
}

body::before{
    width: 100%;
    height: 100%;
    display: block;
}

#page-container{
    overflow: hidden;
}

#page-background{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
	background-color: #222;
}

#page{
    width: 100%;
}

#menu-background{
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#menubar-container{
    opacity: 1;
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 100;
    min-width: 292px;
}

#menubar-title{
    width: 30%;
    height: 100%;
    font-size: 35px;
    text-align: center;
    color: white;
    float: right;
    font-family: 'Abel',sans-serif;
    min-width: 250px;
}

.menu-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.showcase-wrapper{
    background-color: white;
    z-index: -1;
    display: flex;
    overflow: hidden;
    max-height: 545px;
    align-items: center;
}

.showcase-video{
    width: 100%;
    aspect-ratio: 16/9;
}

.about-me-section{
    height: 360px;
    background-image: linear-gradient(180deg, #620b1b, #1e0006);
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: center;
    justify-items: center;
    padding: 0 20% 0 10%;
}
.about-me-picture{
    width: 50%;
}
.about-me-text{
    font-size: 18px;
}
.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(26 26 26 / 60%);
}

.project-holder{
    position: relative;
    width: 100%;
    display: block;

    margin-top:50px;
    margin-bottom: 25px;
}

.project-container{
    padding: 0 0 0 0;
}

.project-contents{
    margin-left: 0;
    margin-right: 0;
}

.project-card{
    position: relative;
}

.project-preview-container{
    width: 60%;
    height: 60%;
    position: relative;
    margin: auto;
}


.project-preview-border{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    position: absolute;
    border-radius: 50%;
    border-width: 0px;
    background: linear-gradient(to bottom, #620b1b, #2e0000);
    border-style: solid;
    box-shadow: 0px 0px 10px rgb(26 26 26);
    z-index: -1;
}

.project-preview-image{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    border-width: 0px;
    overflow: hidden;
}

.project-preview-image::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 30px #000000;
    pointer-events: none;
}

.project-preview-video{
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

.project-info{
    display: flex;
    flex-direction: column;
}

.project-filters{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter{
    margin-right: 6px;
    border-radius: 2px;
    padding: 2px 10px 2px 10px;
}

.svg-animation{
    animation:spin 1s cubic-bezier(0.27, 0.69, 0.5, 1);
}

@keyframes spin { 

    0%{
        opacity: 0;
        transform: scale(.95) rotate(90deg);
    }
    100% { 
        opacity: 1;
        transform: scale(1) rotate(0deg);
    } 
}

#row{
    display: grid;
    grid-template-columns: 40em 40em 40em;
    grid-template-rows: 40em 40em;
    min-height: 380px;
    grid-gap: 50px 25px;
    justify-content: center;
    width: 100%;
}

.card-holder{
    min-width: 200px;
    width: 25%;
    max-width: 250px;
    padding: 15px;
    background-color: white;
    border-radius: 10px !important;
    grid-gap: 15px;
}

.group-projects{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #1d1919;
}

.title{
    font-family: 'Quicksand',sans-serif;
    font-weight: 300;
    color: white;
}

.title-small{
    font-size: 20px;
}

.title-medium{
    font-size: 30px;
}
.title-mid-large{
    font-size: 40px
}

.title-large{
    font-size: 60px;
}

.text{
    font-size: 15px;
}

.middle-align{
    text-align: center;
}

.card-picture-holder{
    display: flex;
    border-radius: 10%;
    background-color: #000000;
    overflow: hidden;
}
.card-video{
    width: 100%;
}

.underline-link{
    position: relative;
    display: inline-block;
}

.underline-link::after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgb(228, 228, 228);
    content: '';
    opacity: 0;
    -webkit-transition: height .3s, opacity .3s, -webkit-transform .3s; 
    transition: height .3s, opacity .3s, -webkit-transform .3s; 
    transition: height .3s, opacity .3s, transform .3s; 
    transition: height .3s, opacity .3s, transform .3s, -webkit-transform .3s; 
    -webkit-transform: translateY(-5px); 
    transform: translateY(-5px);
}

.underline-link:hover:after {
    height: 2px;
    border-radius: 3px;
    opacity: 1;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.underline, .underline-title{
    position: relative;
    display: inline-block;
}

.underline::after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgb(228, 228, 228);
    content: '';
    transform: translateY(-2px);
}

.underline-title::after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(228, 228, 228);
    content: '';
    transform: translateY(-2px);
}

.skills-section{
    height: 360px;
    background-image: linear-gradient(180deg, #1e0006, #000000);
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 500px 1fr;
    /* align-items: start; */
    padding: 0px 20% 5px 10%;
    /* justify-items: center; */
}

.skills-container{
    display: grid;
    grid-template-columns: 150px 250px 150px;
    grid-template-rows: 25px;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
    /* text-align: center; */
    align-items: center;
    text-align: left;
    padding-top: 35px;
}

.skills-data{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    text-align: left;
}

.footer-container{
    bottom: 0;
    background-color: white;
    width: 100%;
}
.footer-holder{
    padding: 25px 0 25px 0;
}

.potion-icon{
    position: absolute;
    right: 0;
    padding-right: 15%;
}
.potion-background{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
}
.potion-icon-img{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tool-tip{
    position: absolute;
    display: block;
    background-color: #1d1919;
    padding: 1em 2em;
    color: white;
    border-radius: 12px;
    font-size: 0.75em;
    top: 50%;
    left: 0;
    white-space: nowrap;
    transform: scaleX(0) translateX(-100%) translateY(-50%);
    transition: transform ease-out 250ms, bottom ease-out 250ms;
    text-align: center;
    transform-origin: left;
}
.skills-holder:hover .tool-tip{
    top: 50%;
    transform: scaleX(1) translateX(-105%) translateY(-50%);
}
.skills-holder{
    position: relative;
}